<include file="Common/header" title="{$title}"/>
	<!-- 下拉框 -->
	<link rel="stylesheet" href="__PUBLIC__/common/css/select2.min.css">
	<script src="__PUBLIC__/common/js/select2/select2.full.min.js"></script>
	

<script type="text/javascript">
	$(function() {
		$( "#create_date" ).datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'yy-mm-dd',
		});
	    $('#dialog').dialog({
			autoOpen: false,
			modal: true,
			height: 500,
			width: 600,
	    });

		$("#btn_env").click(function() {
		    $("#message").text("正在加载..");
		    $('#dialog').dialog('option',{height:300,width:500});
		    $('#iframe_test').attr('src','{:U("Other/Gitweb/seach")}');
		    $("#iframe_test").load(function(){
		      	$("#message").text("");
		        $("#dialog").dialog("open");
		    });
		  });

		$(".js-example-placeholder-single").select2();
	});
 	
 		/**
			用于选择环境,子窗口调用
		*/
		function ch_env(str){
			$("#dialog").dialog('close');
			$("#env_id").val(str);
		}
</script>
</head>
<body>
	<form method="post" action="{$url}">
		<div class="users-contain ui-widget">
			<table  class="ui-widget ui-widget-content">
				<tr>
					<th colspan="2">{$title}</th>
				</tr>
				<tr>
					<td style="width:auto">时间</td>
					<td>
						<input type="text" id="create_date" name='date' value="{$data.date}"  readonly/>
					</td>
				</tr>
				<tr>
					<td>发布人</td>
					<td>
						{~W('Common/user')}
						<script>
						$("#user_id option[value='{$data.user_id}']").attr("selected",true);
						</script>
					</td>
				</tr>
				<tr>
					<td>FAE区</td>
					<td>
						{~W('Common/faepc')}
						<script>
						$("#faepc_id option[value='{$data.faepc_id}']").attr("selected",true);
						</script>
						<span class="error">*</span>
					</td>
				</tr>
				<tr>
					<td valign="top">项目名</td>
					<td>
						<textarea type="text" name="sub" id="sub" rows="2" cols="40">{$data.sub}</textarea>
						<span class="error">*</span>
					</td>
				</tr>
				<tr>
					<td valign="top">路径</td>
					<td>
						<textarea type="text" name="path" id="path" rows="2" cols="40">{$data.path}</textarea>
						<span class="error">*</span>
					</td>
				</tr>
				<tr>
					<td valign="top">分支</td>
					<td><textarea type="text" name="dists" id="dists" rows="2" cols="40">{$data.dists}</textarea>
					<input type="button" id="btn_env" value="选择" />
					</td>
				</tr>
				<tr>
					<td valign="top">注释</td>
					<td><textarea type="text" name="comment" id="comment" rows="1" cols="40">{$data.comment}</textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="hidden" name="id" value="{$data.id}">
						<input type="submit" value="修改" />
						<input type="reset" value="重置" />
						<input type="button" value="返回" onClick="dialog_child_close('{:U('index')}');"/>
					</td>
				</tr>
			</table>
		</div>
	</form>
	<div style="display:none;overflow:hidden;padding:3px" id="dialog"><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" name="iframe_test" id="iframe_test" width="100%" height="100%"></iframe></div>
</body>
</html>