<include file="Common/header" title="{$title}"/>

 	<!-- 分页插件 -->
	<script src="__PUBLIC__/common/js/jqPaginator.js"></script>
	<!-- 下拉框 -->
	<link rel="stylesheet" href="__PUBLIC__/common/css/select2.min.css">
	<script src="__PUBLIC__/common/js/select2/select2.full.min.js"></script>

	<!-- ajax异步提交 -->
	<script src="__PUBLIC__/common/js/jquery.form.js"></script>
 	<!-- 自定义的一些参数 -->
 	<link type="text/css" rel="stylesheet" href="__PUBLIC__/common/css/tipcss.css">
 	<script src="__PUBLIC__/common/js/zz.main.js"></script>

<script src="__PUBLIC__/common/js/admin_index.js"></script>
<script src="__PUBLIC__/common/js/moment.min.js"></script>


<script type="text/javascript">
var init_opt={};

init_opt.btn_add = {};
init_opt.btn_add.url='{$url}';
init_opt.btn_add.id = '#btn_add';

init_opt.btn_del = {};
init_opt.btn_del.url='{:U("toFaeEnvTrachHandle")}';
init_opt.btn_del.id = '#btn_del';

init_opt.dialog = {};
init_opt.dialog.id = "#dialog";
init_opt.dialog.iframe_id = "#iframe_dialog";

init_opt.edit_url = '{:U("editFaeEnv","",false)}';

init_opt.table = {};
init_opt.table.id = "#hct_data";
init_opt.table.checkbox_id = "#checkallid";

zz.pageopt.normal_url = '{:U("FaeEnvlist")}';
zz.pageopt.search_url = '{:U("searchFaeEnvHandle")}';
$(function() {

 $("#page_first,#page_second").hctPage({
	totalCounts: {$total_counts|default=0},
	visiblePages: 10,
	pageSize: {$pageSize|default=20},
	currentPage: {$pageCurrent|default=1},
	onChangePage: zz.page_normal,
 });

});

function search_show(){
	$('#more_search').slideToggle(
		function(){
			if($(this).css("display") == "none"){
				$(".header-top-search").show();
				$("#detail_search span").hide();
				$("#detail_search>button").text("详细搜索");
			}else{
				$("#detail_search span").show();
				$(".header-top-search").hide();
				$("#detail_search>button").text("收起搜索");
			}
		});
}
</script>
</head>
<body>
    <!-- 主体内容 -->

	<div class="context_mian">
		<!-- 标题 -->
		<h3 style="text-align:center;">{$title}</h3>
		<!-- 详细搜索的具体内容 -->
		<include file="Common/more_search"/>

		<div class="tool_nav">
			<span id="detail_search">
				<button onclick="search_show();">详细搜索</button>
				<span>
					<button onclick="search_prj('#search_form');">查询</button>
					<button onclick="$('#more_search :button').click();">清空</button>
				</span>
			</span>
			<div id="search_less" class="header-top-search fl">
				<input name="sub" type="text" class="fl" placeholder="搜索项目">
				<button class="clear fr" onclick="$('#search_less').find('[name]').val('')">清空</button>
				<button class="search fr" onclick="search_prj('#search_less');"></button>
			</div>
			<div class="fr" style="margin-right:20px;">
				<button id="btn_add">添加</button>
				<button id="btn_del">删除</button>
			</div>
		</div>

		<!-- 分页部分 -->
		<div id="page_first" class="tool_nav"></div>
		<!-- 消息提示 -->
		<span id="search_rslt"></span>
		<p><span id="message" style="color:green"></span></p>
		<!-- 数据部分 -->
		<div class="users-contain ui-widget"  style="margin-top:10px;">
			<table class="ui-widget ui-widget-content  limit_max">
				<thead>
					<tr class="ui-widget-header ">
						<th width="30px"><input type="checkbox" id="checkallid"></th>
						<th width="45px">姓名</th>
						<th width="80px">建立时间</th>
						<th>项目分支</th>
						<th width="60px">FAE区</th>
						<th>路径</th>
						<th >BASE库</th>
						<th width="60px;">操作</th>
					</tr>
				</thead>
				<tbody id="hct_data">
					<tr>
						<td><input type="checkbox" value=""></td>
						<td style="padding:0px;">
							<select id="user_id" name="user_id">
								<option value=""></option>
								<foreach name='userlist' item='v'>
									<option value="{$v.id}">{$v.name}</option>
								</foreach>
								<script>
									$("#user_id option[value='1']").attr("selected",true);
								</script>	
							</td>
							<td style="padding:0px;"><input id="date" value="2016-02-24" size="8"/></td>

							<td style="padding:0px;"><textarea>aaaa</textarea> </td>

							<td style="padding:0px;">
								<select id="faepc_id" name="faepc_id">
									<option value=""></option>
									<foreach name='faepclist' item='v'>
										<option value="{$v.id}"  >{$v.faepc}</option>
									</foreach>
								</select>
								<script>
									$("#faepc_id option[value='2']").attr("selected",true);
								</script>
							</td>
							<td style="padding:0px;">
								<textarea>sdafs</textarea>
							</td>

							<td style="padding:0px;">
								<textarea>6735m_kk_alios/dists/target/t825_35pgc_128g8g/t825l-nyx-k1-35pgc-hd-128g8g-tdd-alios-kk-m8</textarea>`
							</td>
							<td>
								<a href="javascript:;">确定</a>
								<a href="javascript:;">取消</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			<!-- 分页部分 -->
		<div id="page_second" class="tool_nav"></div>
		
	</div>

		<!-- 对话框 -->
		<div style="display:none;overflow:hidden;padding:3px" id="dialog"><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" name="iframe_dialog" id="iframe_dialog" width="100%" height="100%"></iframe></div>
	
		<!-- 返回顶部 -->
		<include file="Common/goto_top"/>

</body>
</html>