<include file="Common/header" title="{$title}"/>
<!-- 下拉框 -->
<link rel="stylesheet" href="__PUBLIC__/common/css/select2.min.css">
<script src="__PUBLIC__/common/js/select2/select2.full.min.js"></script>

<script type="text/javascript">
	$(function(){
		$(".js-example-basic-multiple,.js-example-placeholder-single").val([]);
  		var user_slt = $("#to").select2();
  		$("#cc").select2();
	});
</script>

</head>
<body>
	<form method="post" action="{$url}">

		<div  class="users-contain ui-widget"> 
			<table  class="ui-widget ui-widget-content">
				<tr>
					<th colspan="2">{$title}</th>
				</tr>
				<tr>
					<td valign="top" >确认提交人</td>
					<td>
						<select style="width:450px;" name="to" id="to" class='js-example-placeholder-single'>
							<option selected=""></option>
							<foreach name='user_data' item='v'>
								<option value="{$v.id}">{$v.name} ({$v.pinyin}) {:$sector[$v['sector_id']]}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<td valign="top">抄送</td>
					<td>
						<select style="width:450px;" name="cc[]" id="cc" multiple class='js-example-basic-multiple' data-placeholder="可多选">
							<option selected=""></option>
							<foreach name='user_data' item='v'>
								<option value="{$v.id}">{$v.name} ({$v.pinyin}) {:$sector[$v['sector_id']]}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<td>主题</td>
					<td></td>
				</tr>
				<tr>
					<td>内容</td>
					<td><textarea type="text" name="comment" id="comment" rows="5" cols="60"></textarea></td>
				</tr>
				<tr>
					<td valign="top">分支</td>
					<td><textarea type="text" name="subs" id="subs" rows="5" cols="60"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="增加" />
						<input type="reset" value="重置" />
						<input type="hidden" name="id" value="{$faedebug_id}">
						<input type="button" value="返回" onClick="dialog_child_close('{:U('index')}');"/>
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>