#!/bin/bash

## FIFO_FILE
# FIFO_FILE=`pwd`/data
# 所以路径必须是绝对路径  ！！！！
# 所以路径必须是绝对路径  ！！！！
# 所以路径必须是绝对路径  ！！！！

# 设置编译服务器名字,必须设置,不能和服务器注册的重名!
BUILD_PC_NAME="test-01"
SERVER_IP="192.168.3.60"
SERVER_PORT="9101"
# 这个值 指定了 连接服务器后 是否
BUILD_OVER_WAIT=n

# =============================================
# 编译脚本设置

# 自动编译 的 目录,在 这个目录拉代码,编译
BUILD_DIR=/code/build
# 将完成后的版本拷贝到的目录，暂时只能是本地目录
SHARE_DIR=/code/download

BUILD_LOG=build_android_new.log
FTP_IP=""
FTP_USER=""
FTP_PASSWD=""
FTP_DIR=""

REPO_IP="192.168.1.30 192.168.1.29"

