<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" href="__PUBLIC__/admin/Css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/admin/Css/node.css"/>
	<title>admin</title>
	<script type="text/javascript" src="__PUBLIC__/admin/Js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('input[level=1]').click(
				function(){
					var inputs=$(this).parents('.app').find('input');
					$(this).attr('checked')?inputs.attr('checked','checked'):inputs.removeAttr('checked');
				}
				);
			$('input[level=2]').click(
				function(){
					var inputs=$(this).parents('dl').find('input');
					$(this).attr('checked')?inputs.attr('checked','checked'):inputs.removeAttr('checked');
				}
				);
		}
		);
	</script>
</head>
<body>
	<form action="{:U('AuthManage/editAccessHandle')}" method="post">
		<div id="wrap">
		<a href="{:U('User/Sector')}" class="add_app">返回</a>
			<foreach name="node" item='app'>
				<div class='app'>
					<p>
						<strong>{$app.title}</strong>
						<input	type="checkbox" name="access[]" value="{$app.id}_1" level='1' {$app['access']?'checked="checked"':''}/>
					</p>
					<foreach name="app.child" item="action">
						<dl>
							<dt>
								<label>
									<strong>{$action.title}</strong>
									<input	type="checkbox" name="access[]" value="{$action.id}_2" level='2' {$action['access']?'checked="checked"':''}/>
								</label>
								<foreach name="action.child" item="method">
									<dd>
										<label>
											<span>{$method.title}</span>
											<input	type="checkbox" name="access[]" value="{$method.id}_3" level='3' {$method['access']?'checked="checked"':''}/>
										</label>
									</dd>
								</foreach>
							</dt>
						</dl>
					</foreach>
				</div>
			</foreach>
		</div>
		<input type="hidden" name="rid" value="{$rid}"/>
		<input style="display:block; margin:20px auto;cursor:pointer;" type="submit" value="保存">
	</form>
</body>
</html>