<include file="Common/header" title="{$title}"/>

</head>
<body>
	<form method="post" action="{$url}">
		<div class="users-contain ui-widget">
			<table  class="ui-widget ui-widget-content">
				<tbody>
					<tr>
						<th colspan="2">{$title}</th>
					</tr>
					<tr>
						<td>部门名称</td>
						<td><input type="text" name="sector" id="sector" value="{$data.sector}"></td>
					</tr>
					<tr>
						<td>部门简称(英文)</td>
						<td><input type="text" name="remark" id="remark" value="{$data.remark}"></td>
					</tr>
					<tr>
						<td valign="top" >注释</td>
						<td><textarea type="text" name="comment" id="comment" rows="3" cols="40">{$data.comment}</textarea></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input name="id" type="hidden" value="{$data.id}">
							<input type="submit" value="增加"/>
							<input type="reset" value="重置"/>
							<input type="button" value="返回" onClick="dialog_child_close('{:U('sector')}');"/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>	
</body>
</html>