<include file="Common/header" title="主页"/>
<style type="text/css">
.top-list-wrap {
	background: #040404;
	border-bottom: 1px solid #4b4b48;
}
.top-list {
	line-height: 35px;
	margin: 0 auto;
}

.top-list ul li a {
	color: #CCCCCC;
}
.top-list ul li a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.top-list .account-panel a{
	color: #777;
}
.top-list .account-panel a:hover{
	color: #000;
}
</style>

</head>
<body>
<!--头部-->
<include file="Common/user"/>
<div class="context_mian">
	

</div>

</body>
</html>