 <!DOCTYPE>
 <html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>[title]</title>
 	<link rel="stylesheet" href="__PUBLIC__/common/css/jquery-ui/jquery-ui.min.css">
 	<link rel="stylesheet" href="__PUBLIC__/common/css/hct.css">
 	<link type="text/css" rel="stylesheet" href="__PUBLIC__/common/css/jquery.alerts.css">

 	<script src="__PUBLIC__/common/js/jquery.min.js"></script>
 	<script src="__PUBLIC__/common/js/jquery-ui.min.js"></script>
 	 	<!-- 通用的一些函数 -->
 	<script src="__PUBLIC__/common/js/common.js"></script>
 	<script src="__PUBLIC__/common/js/jquery.alerts.js"></script>
	<script src="__PUBLIC__/common/js/url.min.js"></script>
