<div class='top-list-wrap'>
	<div class='top-list'>
		<ul class='l-list'>
			<li><a href='{:U("Home/Index/index")}' >首页</a></li>
		</ul>

		<ul class='r-list'>
		<if condition="isset($_SESSION['id'])" >
			<li>
				<ul class="username">
					<li class="account-wrap">
						<a href="#">{$_SESSION['user']}<i class="arrow-down"></i></a>

						<ol class="account-panel">
							<li><a href="{:U('Home/User/index')}">{$_SESSION['user']}</a></li>
							<li><a href="{:U('Home/User/index')}">个人中心</a></li>
							<li><a href='{:U("Home/Index/loginoutHandle")."?url=".urlencode("__SELF__")}'>退出</a></li>
						</ol>
					</li>
				</ul>
			</li>
			
	<!-- 		<li><a href="{:U('Home/User/index').'?btn=myTask'}"> 我的任务 </a></li> -->
			<li><a href="{:U('Home/User/index').'?btn=myMsg'}"> 消息 </a></li>
			<li><a href='{:U("Home/Index/loginoutHandle")."?url=".urlencode("__SELF__")}'> 退出</a></li>
		<else/>
			<li><a href='{:U("Home/Index/login")."?url=".urlencode("__SELF__")}'> 登陆</a></li>
			<li><a href='{:U("Home/Index/register")."?url=".urlencode("__SELF__")}'> 注册</a></li>
		</if>
		</ul>
	</div>
</div>