<include file="Common/header" title="{$title}"/>

</head>
<body>
	<form method="post" action="{$url}">
		<div class="users-contain ui-widget">
			<table  class="ui-widget ui-widget-content">
				<tbody>
					<tr>
						<th colspan="2">{$title}</th>
					</tr>
					<tr>
						<td>种类名</td>
						<td><input type="text" name="type" id="type" value="{$data.type}"></td>
					</tr>
					<tr>
						<td>种类等级</td>
						<td valign="middle">
							<label>
							<input type="radio" name="level" value="1">状态
							</label><label>
							<input type="radio" name="level" value="2">类别
							</label><label>
							<input type="radio" name="level" value="3">模块
							</label><label>
							<input type="radio" name="level" value="4">标签
							</label>
						</td>
						<script type="text/javascript">
						$("input[name='level'][value='{$data.level}']").attr('checked',true);
						</script>
					</tr>
					<tr>
						<td>排序</td>
						<td><input type="number" name="sort" min="0" value="{$data.sort}"></td>
					</tr>
					<tr>
						<td>颜色</td>
						<td>
							<input type="color" name="color" value="{$data.color|default='#ffffff'}">
						</td>
					</tr>
					<tr>
						<td valign="top">注释</td>
						<td><textarea type="text" name="comment" id="comment" rows="3" cols="40">{$data.comment}</textarea></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="hidden" name="id" value="{$data.id}" >
							<input type="submit" value="确定" />
							<input type="reset" value="重置" />
							<input type="button" value="返回" onClick="dialog_child_close('{:U('TaskType')}');"/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>	
</body>
</html>