<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" href="__PUBLIC__/admin/Css/public.css" />
	<title>admin</title>
</head>
<body>
	<table class="table">
		<tr>
			<th width="5%">ID</th>
			<th width="15%">用户名</th>
			<th width="20%">用户昵称</th>
			<th>E-mail</th>
			<th width="10%">电话</th>
			<th>状态</th>
			<th>用户所在组</th>
			<th width="30%">操作</th>
		</tr>
		<foreach name="user" item='v'>
			<tr>
				<td>{$v.id}</td>
				<td>{$v.name}</td>
				<td>{$v.nickname}</td>
				<td>{$v.email}</td>
				<td>{$v.phone}</td>
				<td>
					<if condition="$v['status']">开启<else/>关闭</if>
				</td>
				<td>
					<if condition="$v['name'] eq C('RBAC_SUPERADMIN')">
						超级管理员
					<else/>
						<ul>
							<foreach name="v.role" item="n">
								<li>{$n.name}({$n.remark})</li>
							</foreach>
						</ul>
					</if>
				</td>
				<td>
					[<a href="">修改</a>]
					[<a href="">删除</a>]
				</td>
			</tr>
		</foreach>
	</table>
</body>
</html>