 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 	<link rel="stylesheet" href="__PUBLIC__/admin/Css/public.css" />
 	<title>admin</title>
 </head>
 <body>
 <form action="{:U('Admin/Attribute/runAddAttr')}" method="post">
 		<table class="table">
 			<tr>
	 			<th>ID</th>
	 			<th>属性列表</th>
	 			<th>颜色</th>
	 			<th>操作</th>
 			</tr>
 			<foreach name='attr' item='v'>
 				<tr>
 					<td>{$v.id}</td>
 					<td>{$v.name}</td>
 					<td>
 						<div style="width:20px;height:20px;background:{$v.color};"></div>
 					</td>
 					<td>
 						[<a href="">修改</a>]
 						[<a href="">删除</a>]
 					</td>
 				</tr>
 			</foreach>

 		</table>
 	</form>
 </body>
 </html>